/*最外层容器*/

.page-wrap {
    /*上下---左右*/
    padding: 40px 0;
    background: #E72955;
}

.ks-dialog {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background: white;
    padding: 20px;
}

.ks-dialog .ks-dialog-content .title {
    float: left;
    width: 582px;
    font-size: 25px;
}

.ks-dialog .ks-dialog-content .fa {
    font-size: 22px;
}


/*表单框*/

.user-con {
    position: relative;
    /*居中*/
    margin: 0 auto;
    width: 400px;
    background: #fff;
}

.user-con .user-title {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    color: #666;
    font-weight: bold;
}

.user-con .user-box {
    padding: 20px;
}


/*错误提示框和错误图标的开发*/

.user-con .user-box .error-item {
    position: relative;
    padding: 4px 0 4px 40px;
    margin-bottom: 10px;
    border: 1px solid red;
    color: red;
    background: #FDE9E9;
    display: none;
}


/*错误图标*/

.user-con .user-box .error-icon {
    position: absolute;
    left: 14px;
    top: 50%;
    font-size: 14px;
    margin-top: -7px;
}


/*输入框样式的开发*/

.user-con .user-item {
    position: relative;
    margin-bottom: 20px;
}

.user-con .user-item .user-label {
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    width: 40px;
    line-height: 36px;
    background: #F3F3F3;
    font-size: 18px;
    color: #D3D3D3;
    text-align: center;
    border-right: 1px solid #BDBDBD;
}

.user-con .user-item .user-content {
    padding: 10px 0 10px 50px;
    width: 308px;
    height: 18px;
    line-height: 18px;
    font-size: 15px;
    border: 1px solid #BDBDBD;
    outline: none;
}


/*登录按钮和忘记密码、免费注册按钮的样式开发*/


/*提交按钮*/

.user-con .btn-submit {
    width: 100%;
    padding: 2px 0;
    text-align: center;
    font-size: 20px;
}


/*跳转链接*/

.user-con .link-item {
    text-align: right;
    margin-top: 10px;
}

.user-con .link-item .link {
    margin-left: 10px;
    color: #999;
}