<!-- div.footer>div.w>div.links>a.link[href=http://www.gec-edu.org][target=_blank]{粤嵌}*4 -->
<div class="footer">
	<div class="w">
		<div class="links">
			<a href="http://www.gec-edu.org" class="link" target="_blank">粤嵌</a>
			<a href="http://www.baidu.com" class="link" target="_blank">百度</a>
			<a href="http://www.taobao.com" class="link" target="_blank">淘宝</a>
			<a href="http://zhihu.com" class="link" target="_blank">知乎</a>
		</div>
	</div>
	<p class="copyright">
		CopyRight © 2019 gec-edu.org All Right Reserved
	</p>
</div>

<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.js">
</script>